<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>{% block title  %}{% endblock %}</title>

</head>
<body>
    <div class="container">
    <nav>
        <a href="/">Home page</a>&nbsp;&nbsp;&nbsp;
        <a href="/contato">Contato</a>&nbsp;&nbsp;&nbsp;
        <a href="/produtos">Produtos</a>
        
    </nav>
    
    {% block content %}
    {% endblock %}
    <div class="footer">
                Desenvolvido por Gabriel Martins Rocha 2024&copy;. <br><br>
        <a href="/termos">Termos de Serviço</a>&nbsp;&nbsp;&nbsp;
        <a href="/politica-de-privacidade">Política de Privacidade</a>&nbsp;&nbsp;
        <a href="/como-utilizar">Como Utilizar</a>
    </div>
    </div>
</body>
</html>